# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/
.venv/
env/
myvenv/

# Ignore large model files
*.h5
*.tflite
*.pb
*.onnx

# Ignore training datasets
*.jpg
*.jpeg
*.png
*.bmp

# Ignore media and binary files
*.zip
*.rar
*.7z
*.mp4
*.avi

# Ignore IDE settings
.vscode/
.idea/

# Ignore tensorflow/keras cache
*.ckpt
checkpoint/

# Ignore logs
*.log
